{% extends "base.html" %}
{%block title%} Криптография {%endblock%}

{% block content %}

    <div class="site-section site-hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Много шифров, их примеры и викторина</span>
            <h1 class="d-block mb-5 mt-4" data-aos="fade-up" data-aos-delay="200">Криптография</h1>
            <a href="/info/" class="btn-custom mb-4" data-aos="fade-up" data-aos-delay="400"><span>Информация</span></a>
            <a href="/quiz/" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Викторина</span></a>
          </div>
        </div>
      </div>
    </div>

      
{% endblock %}