{% extends "base.html" %}
{%block title%} Криптография | О криптографии {%endblock%}

{% block content %}

    <div class="site-section site-hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Что же это такое?</span>
            <h1 class="d-block mb-5 mt-4" data-aos="fade-up" data-aos-delay="200">О криптографии</h1>
            <a href="/quiz/" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Викторина</span></a>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <p class="mb-5">
          <h3>Полезные ссылки:</h3>
          <p class="mt-4 mb-2"><a href="/at/">Permutation Unicode - мой шифр. Описание, таблица символов и онлайн-шифратор</a></p>
          <p class="mt-2 mb-2"><a href="/caesar/">Шифр Цезаря - описание, математическая модель и онлайн-шифратор</a></p>
          <p class="mt-2 mb-2"><a href="/xor/">XOR шифрование - описание, булева алгебра и онлайн-шифратор</a></p>
          <p class="mt-2 mb-2"><a href="/replacement/">Омофонический шифр - описание и онлайн-шифратор</a></p>
        </p>
        <h3>О криптографии</h3>
        <p class=" mb-5">
            На протяжении всей своей истории человечество нуждается в шифровании той или иной информации. Из такой потребности выросла целая наука — криптография. Ранее криптография служила только интересам государства, но с появлением интернета ее методы стали интересовать и частных лиц. На сегодняшний день криптография широко используется хакерами, борцами за свободу информации и простыми пользователями, желающими защитить свои данные в сети. <br><br>

            Чтобы понять, как развивалась наука криптография, обратимся к ее истории. <b>Криптография</b> (с греческого — «тайнопись») — наука о защите информации с использованием математических методов. Первый труд о криптографии был написан еще до Рождества Христова. Первые уже надежные системы защиты информации были разработаны в Китае. Чаще всего шифрование информации использовалось в военных делах. <br><br>

            Криптография активно развивалась в Средние века, шифрованием сообщений часто пользовались дипломаты и купцы. Одним из самых известных шифров Средних веков называют кодекс Copiale — изящно оформленную рукопись с водяными знаками, не расшифрованную до сих пор. Во времена Эпохи Возрождения Френсис Бэкон описал 7 методов скрытого текста, а также он предложил двоичный метод шифрования. <br><br>

            Во время Первой мировой войны криптография стала признанным боевым инструментом. Вторая мировая война послужила своеобразным катализатором развития компьютерных систем — через криптографию. Использованные шифровальные машины (немецкая «Энигма» (Рис.1), английская «Бомба Тьюринга» (Рис.2)) ясно показали жизненную важность информационного контроля. <br><br>



            <div class="row w-100">
              <div class="col-md-6 col-sm-12 text-center mt-4 mb-4" data-aos="fade-right" data-aos-delay="100">
                Рис.1 Шифровальная машина Третьего рейха «Энигма»
                <img src="https://moluch.ru/conf/blmcbn/8782/image001.png" alt="" class="mt-2">
              </div>
              <div class="col-md-6 col-sm-12 text-center mt-4 mb-4" data-aos="fade-left" data-aos-delay="100">
                Рис.2 Шифровальная машина «Бомба Тьюринга»
                <img src="https://moluch.ru/conf/blmcbn/8782/image002.png" alt="" class="mt-2">
              </div>
            </div>
          </p>
          <div>
            <p class="mb-5 mt-5" data-aos="fade-up" data-aos-delay="100">
              В 20 в. сформировался современный подход к криптографии. Эта наука была разделена на две части: <b>криптосинтез</b> и <b>криптоанализ</b>. Криптосинтез обеспечивал защиту информации, а криптоанализ ищет пути взлома системы.<br><br>

              Как упоминалось ранее, в криптографии определены некоторые методы. Их можно подразделить в зависимости от количества ключей, которые используются в соответствующих алгоритмах: <b>двухключевые, одноключевые, безключевые</b>. <br><br>

              В двухключевых алгоритмах используется два ключа: открытый и секретный. В одноключевом используется обычный секретный ключ. И в бесключевом алгоритме не используются какие-либо ключи вообще. <br><br>

            </p>
          </div>

          <div class="col-12 text-center mb-5 class-info" data-aos="fade-up" data-aos-delay="100">
            <p>Рис.3 Классификация криптографических методов</p>
            <img src="https://moluch.ru/conf/blmcbn/8782/image003.png" alt="" class="mt-3">
          </div>


          <div class="col-12 mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3>Более подробная информация в <a href="https://moluch.ru/conf/tech/archive/163/8782/">источнике</a></h3>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="100">
              <p class="mt-4 mb-2"><a href="/at/">Permutation Unicode - мой шифр. Описание, таблица символов и онлайн-шифратор</a></p>
              <p class="mt-2 mb-2"><a href="/caesar/">Шифр Цезаря - описание, математическая модель и онлайн-шифратор</a></p>
              <p class="mt-2 mb-2"><a href="/xor/">XOR шифрование - описание, булева алгебра и онлайн-шифратор</a></p>
              <p class="mt-2 mb-2"><a href="/replacement/">Омофонический шифр - описание и онлайн-шифратор</a></p>
          </div>

      </div>
    </div>

      
{% endblock %}