{% extends "base.html" %}
{%block title%} Криптография | Шифр замены (омофонический) {%endblock%}

{% block content %}

    <div class="site-section site-hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Частотный анализ? Не страшно!</span>
            <h1 class="d-block mb-5 mt-4" data-aos="fade-up" data-aos-delay="200">Омофонический шифр</h1>
            <a href="/info" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>О криптографии</span></a>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <p class=" mb-5">
          Омофоническая замена — шифр подстановки, при котором каждый символ открытого текста заменяется на один из нескольких символов шифралфавита, причём количество заменяющих символов для одной буквы пропорционально частоте этой буквы. Это позволяет скрыть настоящую частоту появления данной буквы в зашифрованном тексте <br><br>

          Шифрование методом омофонической замены известно с 15 века <br><br>

          Симеоне де Крема в 1401 году впервые использовал таблицы омофонов для равномерной частотности гласных букв при помощи многозначной замены <br>

          Леон Баттиста Альберти в своей книге «Трактат о шифрах», опубликованной в 1466 году, описал шифр замены, в котором одной букве сопоставляется несколько элементов <br><br>


          Традиционные моноалфавитные шифры замены в семнадцатом веке всё ещё оставались актуальными для решения лёгких задач, таких как шифрование личной переписки для скрытия информации от слуг или защита своего дневника от жены или мужа. Моноалфавитная замена производит простую и быструю защиту информации от людей, несведущих в криптоанализе. Однако для более серьёзных целей такое шифрование уже не являлось безопасным, поэтому появилась необходимость поиска шифра, взломать который было бы сложнее, чем моноалфавитный шифр замены, но пользоваться которым было бы проще, чем полиалфавитным шифром замены. Было представлено несколько вариантов таких шифров, самым эффективным решением данной проблемы оказался омофонический шифр замены, или омофоническая замена <br>
                                                
        </p>

        <p class="mb-5 mt-5">
          Пусть i, — символ алфавита, который используется в открытом тексте. Для каждого i, составим множество символов Mi,, таким образом, чтобы для различных символов i, и j, множества Mi, и Mj, не пересекались. Обычно элементами множества Mi, являются числа. При омофоническом шифровании, число замен для каждого символа берется пропорционально вероятности появления этого символа в открытом тексте. При шифровании замена для символа открытого текста выбирается либо случайным образом (генератор случайных чисел), либо определенным образом (например, по порядку). Чтобы запомнить буквы, которые чаще всего встречаются в текстах, используют комбинации букв «сеновалитр» и «tetrishonda» для русского и английского языков соответственно. Эти комбинации похожи на слова, а потому легко запоминаются<br><br>
                                          
        </p>

        <h4 class="mt-4 mb-4 text-center">Этот вариант шифра актуален только для строчных букв латинского алфавита</h4>
        <div class="row">

          <div class="col-md-6 col-sm-12 text-center mb-5">
            <div class="ex-block p-3">
              <h4 class="mb-4 mt-3">Шифровка</h4>
              <form method="POST">
                  <input type="text" class="form-control mt-3 mb-4" placeholder="Текст для шифровки" id="e_text" name="e_text" required="">
                  <button type="submit" class="text-center ads-btn ads-true mb-4 d-block w-100 mt-4" name="btn" value="Зашифровать">Зашифровать</button>
              </form>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 text-center">
            <div class="ex-block p-3">
              <h4 class="mb-4 mt-3">Дешифровка</h4>
              <form method="POST">
                  <input type="text" class="form-control mt-3 mb-4" placeholder="Текст для шифровки" id="d_text" name="d_text" required="">
                  <button type="submit" class="text-center ads-btn ads-true mb-4 d-block w-100 mt-4" name="btn" value="Дешифровать">Дешифровать</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    
    {% if d_final %} 
    <div class="form-wrapper" id="d_form">
		<div class="crypt-form">
			<p class="mb-1 crypt-header">Сообщение:</p>
			<p class="mb-3">{{d_final}}</p>
			<button type="button" class="text-center ads-btn ads-true d-block w-100 mt-4" id="d_btn">Закрыть</button>
		</div>
	</div> 
    {% endif %}

    {% if e_final %} 
    <div class="form-wrapper" id="e_form">
		<div class="crypt-form">
			<p class="mb-1 crypt-header">Сообщение:</p>
			<p class="mb-3">{{e_final}}</p>
			<button type="button" class="text-center ads-btn ads-true d-block w-100 mt-4" id="e_btn">Закрыть</button>
		</div>
	</div> 
    {% endif %}

      
{% endblock %}